@import url(./reset.css);
@import url(./design-system.css);







.color-section{
    display: flex;
    height: 100vh;
    width: 100%;
}

.color-section__sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    background-color: var(--ui-bg-sidebar);
    padding: 30px 20px;
    align-items: center;
}

.color-section__title{
    color: var(--ui-text-title);
    font-size: 24px;
    /* Peso da fonte: NÃO UTILIZA PX */
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
    /* Espaçamento entre as letras */
    letter-spacing: 0.5px;
}

.color-section__menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    
}
/* Elemento Link: Estilo base dos botões de navegação */
.color-section__link{
    color: var(--ui-text-link);
    text-decoration: none;
    font-size: 18px;
    /* Peso sa fonte (não usar px) */
    font-weight: 600;
    padding: 12px 90px;
    border-radius: 6px;
    text-align: center;
    /* Efeito no momento em que o mouse é posicionado */
    transition: all 0.3s ease-in-out;
}

.color-section__link--active{
    color: var(--ui-link-active-text);
    background-color: var(--ui-link-active-bg);
    box-shadow: 0px 2px 5px rgba(244, 244, 248, 0.25);}

.color-section__link--active:hover{
    color: var(--ui-link-active-text);
    transform: scale(1.05);}

.color-section__link:not(.color-section__link--active):hover{
    color: var(--ui-text-title);
    background-color: var(--ui-link-hover-bg);
}
.color-section__bar{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    transition: transform 0.25s ease;
}

.color-section__bar p{
    background-color: aliceblue;
    padding: 10px 12px;
    border-radius: 12px;
    visibility: hidden;
}

.color-section__bar:hover p{
    visibility: visible;
}

.color-section__bar:hover{
    transform: scaleX(1.02);
    z-index: 10;
    box-shadow: 0 0 30px rgba(51, 50, 50, 0.3);
}

.color-section__bar--rgb-1{width: 15%; background-color: var(--color-rgb-1);}
.color-section__bar--rgb-2{width: 15%; background-color: var(--color-rgb-2);}
.color-section__bar--rgb-3{width: 15%; background-color: var(--color-rgb-3);}
.color-section__bar--rgb-4{width: 15%; background-color: var(--color-rgb-4);}
.color-section__bar--rgb-5{width: 15%; background-color: var(--color-rgb-5);}
.color-section__bar--rgb-6{width: 15%; background-color: var(--color-rgb-6);}

.color-section__bar--cmyk-1{width: 15%; background-color: var(--color-cmyk-1);}
.color-section__bar--cmyk-2{width: 15%; background-color: var(--color-cmyk-2);}
.color-section__bar--cmyk-3{width: 15%; background-color: var(--color-cmyk-3);}
.color-section__bar--cmyk-4{width: 15%; background-color: var(--color-cmyk-4);}
.color-section__bar--cmyk-5{width: 15%; background-color: var(--color-cmyk-5);}
.color-section__bar--cmyk-6{width: 15%; background-color: var(--color-cmyk-6);}

.color-section__bar--netflix-1{width: 15%; background-color: var(--color-netflix-1);}
.color-section__bar--netflix-2{width: 15%; background-color: var(--color-netflix-2);}
.color-section__bar--netflix-3{width: 15%; background-color: var(--color-netflix-3);}

.color-section__bar--google-1{width: 15%; background-color: var(--color-google-1);}
.color-section__bar--google-2{width: 15%; background-color: var(--color-google-2);}
.color-section__bar--google-3{width: 15%; background-color: var(--color-google-3);}
.color-section__bar--google-4{width: 15%; background-color: var(--color-google-4);}

p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

