@import url(./reset.css);
@import url(./design-system.css);







.color-section{
    display: flex;
    height: 100vh;
    width: 100%;

}

.color-section__sidebar{
    border: solid 2px;
}

.color-section__title{}

.color-section__menu{}

.color-section__link{}

.color-section__link--active{}

.color-section__link--active:hover{}

.color-section__bar{}

.color-section__bar:hover{}

.color-section__bar--rgb-1{
    border: solid;
    width: 15%;
    background-color: red;
}

.color-section__bar--rgb-2{}

.color-section__bar--rgb-3{}

.color-section__bar--rgb-4{}

.color-section__bar--rgb-5{}

.color-section__bar--rgb-6{}