@import url(./reset.css);
@import url(./design-system.css);







.color-section{
    display: flex;
    height: 100vh;
    width: 100%;
}

.color-section__sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    background-color: #441a61;
    padding: 20px;
    align-items: center;
}

.color-section__title{
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.color-section__menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.color-section__link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.color-section__link--active{
    color: #26c3eb;
}

.color-section__link--active:hover{
    color: #26eb57;
}

.color-section__bar{}

.color-section__bar:hover{}

.color-section__bar--rgb-1{
    width: 15%;
    background-color: var(--color-rgb-1);
}

.color-section__bar--rgb-2{
    width: 15%;
    background-color: var(--color-rgb-2);
}

.color-section__bar--rgb-3{
    width: 15%;
    background-color: var(--color-rgb-3);
}

.color-section__bar--rgb-4{
    width: 15%;
    background-color: var(--color-rgb-4);
}

.color-section__bar--rgb-5{
    width: 15%;
    background-color: cyan;
}

.color-section__bar--rgb-6{
    width: 15%;
    background-color: magenta;
}