@import url(./reset.css);
@import url(./variables.css);
@import url(./style.css);




        /* Base style for mobile devices */
body {
    padding: 20px;
    background-color: olive;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 300vh;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    
}

.container{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.box{
    width: 100%;
    max-width: 400px;
    height: 200px;
    background-color: black;
}

.container-position{
    width: 100%;
    height: 600px;
    border: 2px solid red;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.filho-tamanho{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position:absolute;
}

.filho01__container-position{
    top: 0;
    left: 0;
}

.filho02__container-position{
    top: 0;
    right: 0;
}

.filho03__container-position{
    bottom: 0;
    left: 0;
}

.filho04__container-position{
    bottom: 0;
    right: 0;
}

.whats img{
    width: 75px;
    height: 75px;
    background-color: rgb(11, 241, 3);
    border-radius: 50%;
    border: 3px solid #fff;

    position: fixed;
    bottom: 50px;
    right: 60px;
}













/* For devices with a minimum width of 768px (Medium) */
@media (min-width: 768px) {
  body {
    background-color: blue;
    color: white;
  }
  .box{
    width: 45%;
    max-width: 600px;
  }
}

/* For devices with a minimum width of 992px (Large) */
@media (min-width: 992px) {
  body {
    background-color: tan;
    color: black;
  }
  .box{
    width: 300px
  }
}