/*Reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Título, .Subtítulo1, .Subtítulo2, .Subtítulo3{
    border: 3px;
}

