/*Reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-bateria{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    height: 600px;
    width: 450px;
}

.textos{
    height: 600px;
    width: 450px;
    font-family: helvetica;
    font-size: large;
    }

.subtitulo{
    color: rgb(71, 174, 243);
    font-family: Arial;
}

.informacao{
    display: flex;
    align-items: center;
}

.final{
    display: flex;
    justify-content: center;
}