/*Reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-bateria{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    height: 700px;
}

.textos{
    height: 700px;
    width: 850px;
    font-family: helvetica;
    font-size: x-large;
    }

